<section id="intro" class="intro-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p class="logo"><%= image_tag('logo/logo.svg') %></p>
        <% if logged_in? %>
          <h1 class="home">Porto</h1>
          <p><%= l(Date.parse('12/11/2016'), format: :long) %></p>
        <% end %>

        <p class="heart">
          <%= render partial: "svgs/heart" %>
        </p>
        <% if logged_in? %>
          <p class="take-part"><%= t('intro.take_part') %></p>
          <p class="arrow">
            <a class="page-scroll" href="#story">
              <%= render partial: "svgs/arrow" %>
            </a>
          </p>
        <% else %>
          <% placeholder = ["city_lived", "city_met"].shuffle.first %>
          <%= form_tag authenticate_path, class: "form-inline" do %>
            <div class="form-group">
              <%= label_tag "password", nil, class: "sr-only" %>
              <%= text_field_tag "password", nil, class: "form-control psswd",
                placeholder: t("intro.#{placeholder}") %>
            </div>
            <%= submit_tag t('intro.login_button'),
              class: "btn btn-default"  %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
