<section id="list" class="list-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <h1><%= t('list.header') %></h1>
          <div class="tagline"><%= raw t('list.tagline') %></div>
          <p class="acc_title"><%= t('list.name_title') %></p>
          <p class="acc_content"><%= t('list.name') %></p>
          <p class="acc_title"><%= t('list.acc_title') %></p>
          <p class="acc_content"><%= raw t('list.acc') %></p>
        </div>
        <div class="col-lg-3"></div>
      </div>
    </div>
  </div>
</section>
